/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/




/* CSS that applies to all of the elements (*) */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /*fontsize:  10px */
    font-size: 62.5%
        /* 62.5% is 10px(62.5%) from default 16px(100%) from the browser */
        /* using percentage is a good practise; bc some people change their font size in the browser bc they dont see well */
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
            rgba(126, 213, 111, 0.8),
            rgba(40, 180, 131, 0.8)),
        url(../img/hero.jpg);
    background-size: cover;
    /* cover -  whatever the width of the viewpoint or element, it will always try to fit the element inside of the box*/
    background-position: top;
    /* position that doesnt change with screen size changes */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    /* 
    polygon (1. x y, 2. x y, 3. x y, 4. x y) 
    1. left top corner; 2. right top corner, 3. left bottom corner, 4. right bottom corner
    x and y are the positions from left top corner(1.)
    */
    position: relative;
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /* top and left are in a relation to the parent element (posision: relative) */
    transform: translate(-50%, -50%);
    /* translate is in a relation to the element itself */
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 6rem;

    backface-visibility: hidden;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-iteration-count: 3; --- how many time will the animation happen */
    /* animation-delay: 2s; --- wait 2s then starts the animation */
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
    /* name duration timingFunction delay*/
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    display: inline-block;
    transition: all 0.1s ease-out;
    position: relative;

}

.btn--animated {
    animation: moveInBottom 1s ease-out 0.8s;
    animation-fill-mode: backwards;
    /* automatically applies the styles of the 0% from moveInBottom keyframes, before the animation starts */
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* when we click */
.btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}


.btn--white {
    background-color: #fff;
    color: #777;
}

.btn--white::after {
    background-color: #fff;
}










@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }


    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}